@model Lanche

<div class="item col-sm-4 col-md-4 col-lg-4">
    <p><img src="@Model.ImagemUrl" class="img-fluid"/></p>
    <h4>
        <a asp-controller="Lanche"
           asp-action="Details"
           asp-route-lancheId=@Model.LancheId
            class="ten__sp">
           @Model.Nome
        </a>
    </h4>
    <h3>@Model.Preco.ToString("0.000 vnđ")</h3>
    <p>@Model.DescricaoCurta</p>
    <div>
        <p class="button">
            <a class="btn btn__themgiohang"
               id="cartButton"
               asp-controller="CarrinhoCompra"
               asp-action="AdicionarItemNoCarrinhoCompra"
               asp-route-lancheId=@Model.LancheId>
               +
            </a>
        </p>
    </div>
</div>