<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <h3 class="lien__he">THÔNG TIN LIÊN HỆ </h3>
    <div class="jumbotron">
        @*<p>Se você tiver alguma dúvida ou sugestão fale conosco.</p>*@
        <div class="jumbotron__item">
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5>
                <email class="email" endereco="KHK@gmail.com" conteudo="Gửi email"></email>
            </h5>
        </div>
        <div class="jumbotron__item">
            <span>
                <img src="~/images/phone-app-icon.png" /> 
            </span>
            <h5>(+84) 902812123</h5>
        </div>
        <div class="jumbotron__item">
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>280 An Dương Vương, Quận 5</h5>
        </div>
    </div>
</div>